.product-list {
    background-color: #efeff6;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-auto-columns: auto;
    grid-gap: 20px;
    box-sizing: border-box;
    padding: 30px 0;
}