
.container {
    width: 960px;
    height: auto;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.5);
}
.container__header {
    /* background-color: red; */
    display: flex;
    /* padding-left: 10px;
    padding-right: 20px; */
    border-radius: 25px 25px 0 0;
    border-bottom: 2px solid #efeff6;
    height: 200px;
    position: relative;
}
.container-header__product {
    /* height: 60px !important; */
    width: 20%;
}
.container-header-product__item {
    display: flex;
    justify-content: center;
}
.container-header-product-item__title {
    background-color: rgb(244, 164, 3);
    height: 25px;
    margin-left: 15px;
    width: 90px;
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
    padding: 3px 2px 0 6px;
    margin-left: -50px;

}
.container-header-product-item__title > p {
    color: white;
    font-style: normal;
}

.container-header-product-item__image {
    width: 130px;
    height: 130px;
}

.container-header__title {
    box-sizing: border-box;
    padding: 30px 6px 0 6px;
    width: 60%;
    border-right: 2px solid #efeff6;
}
.container-header-title__info {
    display: flex;
}
.container-header-title-info__brand {
    padding-right: 10px;
    color: #363636;
    font-size: 25px;
}
.container-header-title-info__discount,
.container-body-market-name__discount > p
{
    background-color: #efeff6;
    border-radius: 4px;
    font-size: 10px;
    box-sizing: border-box;
    width: 50px;
    height: 25px;
    padding: 8px 6px 0 5px;
}
.container-header-title__description {
    margin-top: 10px;
}


.container-header-title-description__text {
    font-style: normal;
    color: 363636;
    font-size: 18px;
}
.container-header-title__actions {
    display: flex;
    margin-top: 30px;
    font-style: normal;
}
.container-header-title-actions__feature {
    margin-right: 5px;
}
.container-header-title__actions >i {
    margin-top: 2px;
}
.container-header__price {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-header-price__score {
    display: flex;
}
.container-header-price-score__value{
    color: #18A661;
    font-weight: 700;
    font-size: 30px;
}
.container-header-price-score__icon {
    margin-top: 8px;
    margin-left: 5px;
    font-size: 15px;
}
.container-header-price__group {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}
.container-header-price__compare{
    display: flex;
}
.container-header-price__button {
    border: none;
    color: white;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    background-color: #18A661;
    border-radius: 20px;
    padding: 8px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-header-price__button:hover {
    cursor: pointer;
}
/* .container-header-price-button_moreinfo {
    color: white;
    font-weight: 600;
    font-style: normal;
} */
.container-header-price-compare__text {
    font-size: 15px !important;
    margin-right: 5px;
}
.container__body {
    display: flex;
    box-sizing: border-box;
    padding: 15px 10px 10px 20px;
    height: 250px;
    animation: modalFadeIn ease 2s;
}

.container-body__nameProduct {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 25px 10px 40px;
    width: 50%;
}
.container-body-nameProduct__list > ul {
    margin-left: -40px !important;
}
.container-body-nameProduct__list > ul > li,
.container-body-market-name-group__list >ul >li{
    list-style-type: none;
    margin-top: 14px;
}
.container-body-nameProduct__list > ul > li >i {
    color: #18A661;
}
.container-body__market{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.container-body-market-name__group {
    display: grid;
    flex-direction: column;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto; */
    width: 100%;
    margin-top: 20px;
}
.container-body__button {
    /* display: flex;
    flex-direction: column;
    align-items: end ; */
}
.container-body-market-name__discount {
    padding: 0px 90px;
}
.container-body-market-name__discount > p {
    margin-top: 14px !important;
}
.container-body-market-name-group-market__btn {
    border-radius: 21px;
    border: 2px solid;
    color: #18A661;
    font-size: 19px;
    padding: 3px 24px;
    font-weight: 600;
    background-color: white;
    /* margin-top: 6px; */
}
.container-body-market-name-group-market__btn :hover {
    cursor: pointer;
}
.fa-chevron-circle-down{
    color: #18A661;
    font-size: 35px;
    padding-right: 50px;
    margin-top: -10px;
}
.container-body-market-name-group__market {
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
}
.left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.middle {
    flex: 1;
    display: flex;
    justify-content: center;
}

.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media only screen and (max-width: 768px) {

    .container__header {
        display: grid !important;
        height: auto !important;
        grid-template-areas:
    'header'
    'footer';
        grid-template-rows: auto auto;
    }

    .container {
        width: 288px;
        height: auto !important;
    }

    .container-header {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .container-header__product {
        justify-content: end;
        width: 100%;
        grid-area: header;
        display: flex;

    }

    .container-header-product__item {
        flex-direction: column;
        align-items: center;
    }

    .container-header-product-item__title {
        margin-right: 0;
        position: absolute;
        top: 0px;
        left: 70px;
        /* display: none; */
    }

    .container-header-product-item__image {
        width: 80%;
        margin-top: 10px;
    }

    .container-header__title {
        width: 100%;
        text-align: center;
        padding: 0 6px;
    }

    .container-header-title__info {
        grid-area: footer;
        align-items: center;
        justify-content: start;
    }
    .container-header-title-info__brand {
        font-size: 18px;
    }
    .container-header-title__mobile {
        height: 70px;
        width: 100%;
        border-radius: 25px;
    }
    .container-header-title__description {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0;
    }
    .container-header-title-description__text {
        font-size: 15px;
    }

    .container-header-title__actions {
        display: none !important;
    }

    .container-header__price {
        width: auto !important;
        grid-area: header;
        display: flex !important;
        flex-direction: column !important;
        align-items: start !important;
        position: relative;
    }
    .container-body-nameProduct__list > ul > li,
    .container-body-market-name-group__list >ul >li{
        list-style-type: none;
        margin-top: 5px;
    }

    .container-header-price__score {
        margin-top: 20px;
        margin-left: 40px;
    }

    .container-header-price__button {
        margin-top: 10px !important;
    }

    .container-header-price__group {
        margin-top: 10px;
        right: 75px;
        position: absolute;
        top: 168px;
    }

    .container__body {
        padding: 15px 10px 10px 10px;
        flex-direction: column;
        /* display: none; */
        height: auto;
    }

    .container-body__nameProduct {
        width: 100%;
        padding: 0px;
    }

    .container-body-nameProduct__list {
        margin-left: 0;
    }


    .container-body__market {
        width: 100%;
        margin-top: 20px;
    }

    .container-body-market-name__group {
        grid-template-columns: repeat(1, 1fr);
    }

    .middle {
        flex-direction: column;
        align-items: start;
    }

    .fa-chevron-circle-down {
        padding-right: 0;
    }

}

.showDetail {
    display: none;
}

@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(-0px);

    }

}