@mixin flex($align-items: flex-start , $justify-content: flex-start, $flex-direction: row) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

@mixin table($table-width) {
  @media only screen and (max-width:$table-width) {
    @content;
  }
}