$primary-color: #18A661;
$secondary-color: #efeff6;
$banner-color: rgb(244, 164, 3);
/* text-style*/
$text-color-primary: #363636;
$text-color-secondary: white;

/*breakpoints*/
$table-width: 768px;

